name: Docker Build & Push
on:
  push:
    branches: [ main ]
env:
  DOTNET_VERSION: '6.0.x'
  REGISTRY: ${{ secrets.REGISTRY_URL }}
  IMAGE_NAME: ${{ secrets.REGISTRY_URL }}/blackstarstar007/flink120
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Debug - Check files
      run: |
        echo "Current directory: $(pwd)"

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        registry: ${{ secrets.REGISTRY_URL }}
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.REGISTRY_URL }}/blackstarstar007/flink120:latest